<div class="container">
  <h3>My Favorites films TOP-3</h3>
  <div class="cards">
    <app-movie title="The Gentlemen" year="2019" url="https://ic.pics.livejournal.com/mova/15859558/2041783/2041783_original.jpg"></app-movie>
    <app-movie title="The Departed" year="2006" url="https://lh3.googleusercontent.com/proxy/FwHNBFhkDbNI2_4MKDMgizRT1_4eOuKyCSkJFPqfenDE2KcXBavA2TZZQCD2NWmHR34izP-mJy8PHBp7ejcWhavrZwvM051rols"></app-movie>
    <app-movie title="The Accountant" year="2016" url="https://cdn.shopify.com/s/files/1/2036/5517/products/MM00229665_600x.jpg?v=1510589411"></app-movie>
  </div>
</div>

