<div class="main-banner">
  <header class="header">
    <div class="container header-inner">
      <div id="logo">
        <h1><a href="#" class="editContent" >Favorite Films</a></h1>
      </div>
      <nav class="main-nav">
        <ul class="menu mt-2">
          <li class="active"><a href="index.html">Главная</a></li>
          <li><a href="#">Фильмы</a></li>
          <li><a href="#">Сериалы</a></li>
          <li><a href="#">Мультфильмы</a></li>
          <li><a href="#">Вход</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="banner-info">
    <h3>Все о кино</h3>
  </div>
</div>
