.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-banner {
  background: url("https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101693/26100c5b49f851337109a5f792436a29/960x540") 0 0 no-repeat rgba(0, 0, 0, 0);
  background-size: cover;
  color: #fff;
  margin-top: 0;
  height: 600px;
}
h1 {
  margin: 0;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: rgba(36, 89, 99, 0.5);
}
.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
a {
  color: #fff;
  text-decoration: none;
}
.banner-info {
  margin: 0;
  width: 40%;
  padding: 40% 0 0 5%;
}

