.footer {
  background: #245963;
  padding: 32px 0 37px;
  text-align: center;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__about {
  font-size: 15px;
  max-width: 366px;
  margin: 0 auto 54px;
  position: relative;
}
.footer__ic {
  display: inline-block;
  height: 37px;
  width: 37px;
  background: #fff;
  color: #245963;
  border-radius: 50%;
  line-height: 37px;
  margin-left: 5px;
}

.footer__about::after {
  content: "";
  position: absolute;
  bottom: -42%;
  right: 11%;
  width: 283px;
  height: 1px;
  border-bottom: 1px solid #387d89;
}
.footer__site {
  color: #fdbd1f;
}
