<footer class="footer">
  <div class="container">
    <div class="footer__about">
      <p class="footer__description">info@sitename.com</p>
      <span class="footer__ic"><i class="fab fa-facebook-f"></i></span>
      <span class="footer__ic"><i class="fab fa-twitter"></i></span>
      <p class="footer__phone-number">(000) 777 777 7777</p>
    </div>
    <p class="footer__description">Copyright(c) website name. <span class="footer__site">Designed by: www.alltemplateneeds.com</span> /
      Images from: www.wallpaperswide.com, www.photorack.net</p>
  </div>
</footer>
