.sidebar {
  height: 100vh;
  background: #cccccc;
}
.sidebar ul {
  margin: 0;
  padding: 15px 0 0 50px;
}
.sidebar li {
  margin-bottom: 10px;
  transition: 1s;
}
.sidebar li::marker {
  color: white;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.sidebar li:hover {
  transform: scale(1.1);
}
