<aside class="sidebar">
  <ul class="sidebar__list">
    <li><a href="#">аниме</a></li>
    <li><a href="#">боевик</a></li>
    <li><a href="#">вестерн</a></li>
    <li><a href="#">военный</a></li>
    <li><a href="#">мультфильм</a></li>
    <li><a href="#">детективный</a></li>
    <li><a href="#">драма</a></li>
    <li><a href="#">фэнтези</a></li>
    <li><a href="#">исторический</a></li>
    <li><a href="#">комедия</a></li>
  </ul>
</aside>
