<div class="card">
  <div class="card__img-block">
    <img src="{{url}}" class="card__img" alt="film-img">
  </div>
  <div class="card__info">
    <h3 class="card__title">{{title}}</h3>
    <p class="card__textYear">{{year}}</p>
  </div>
</div>




