.card__img-block {
  height: 300px;
}
.card__img {
  height: 100%;
  width: 100%;
}
.card {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 2px 10px aqua;
}
